<!-- templates/report.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Simulación CORE: Interpretación, validación y reporte</title>
    <style>
{% include "report/styles.css" %}
    </style>
</head>
<script>
{% include "report/scripts.js" %}
</script>

<body>

    <h1>Simulación CORE: Interpretación, validación y reporte</h1>

    <div class="card">
        <strong>Archivo:</strong> {{ filename }}
    </div>

    {% include "report/_summary.html" %}

    {% include "report/_networks.html" %}

    {% include "report/_network_warnings.html" %}

    {% include "report/_uncategorized_warnings.html" %}

    {% include "report/_router_warnings.html" %}

    {% if "Routing" in data.subjects %}
    {% include "report/_routing_matrix.html" %}
    {% endif %}

    {% for node_id, routing in data.routing.items() %}
    {% set has_info = (
        ("RPDB" in data.subjects and routing.rules)
        or ("Routing" in data.subjects and routing.routes)
        or ("Tunneling" in data.subjects and routing.tunnels)
        or ("Firewall" in data.subjects and routing.iptables)
        or routing.warnings['routing'] or routing.warnings['tunnels'] or routing.warnings['isp']
    ) %}
    <details class="card">
        <summary class="
        {% if routing.warnings['routing'] or routing.warnings['tunnels'] or routing.warnings['isp'] %}
            summary-warning
        {% endif %}">
            Reglas configuradas (Router {{ data.devices[node_id].name if node_id in data.devices else node_id }})
            {% if not has_info %} - sin comandos ni información{% endif %}
        </summary>

        {% if has_info %}
        {% include "report/_router_rules.html" %}
        {% include "report/_router_routes.html" %}
        {% include "report/_router_routing_warnings.html" %}
        {% include "report/_router_tunnels.html" %}
        {% include "report/_router_iptables.html" %}
        {% else %}
        <p>No hay comandos ni información configurada en este equipo.</p>
        {% endif %}
    </details>
    {% endfor %}

    {% if "Firewall" in data.subjects %}
    {% include "report/_nat.html" %}
    {% endif %}

    {% if "RPDB" in data.subjects %}
    {% include "report/_policy.html" %}
    {% endif %}

    {% include "report/_warning_summary.html" %}

    <div class="card">
        <a href="/">Analyze another file</a>
    </div>

</body>

</html>
